<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="chapter" id="ex3">
      <h3 align="center">Chapter 3 - Exercises</h5>
      <p>Our process for coming up with names that create tension, and interest involves creating a Venn Diagram of names.On one side, you will list descriptive names.On the other side, you will list emotive names.Then you will start stringing these two sides together in different combinations. See what works, what doesn’t. </p>


       <div class="center">
    <a align="center" href="#chapter4" class="btn btn-primary btn-lg">Continue to Chapter 4</a>
    </div>
</div>
 <% end %>