<div id="chapter3" class="chapter">
<h5 align="center">Chapter 3.</h5><h1 align="center">NAMES</h1><br><br>
<p>
<span class="callout">There are two important things that your name must do.</span> It must be descriptive and it must be emotive. When you do this well there will be a unique feeling expressed by putting these two words together. There should be a novel juxtaposition created by this interplay. This juxtaposition is a boiled down way of communicating your value statement (why your company exists).  
<br><br>
Take the example of Apple Computers. Two words. One word plays the role of the descriptor. The other word plays the role of the emotional agent. One word says what it is, the next puts a twist on it and says why it is different. There is an intriguing tension created by placing these words together. Computers are complex, cold, robotic, rigid, and unfeeling. Apples are natural, simple, relatable, and nourishing. But not only is this juxtaposition intriguing, engaging, and eye-catching— it is the value proposition of the company: to make computers simple and relatable.  This is what names do at their best. 
<br><br>
Over time the name Apple Computers has been shortened to simply Apple. But it still maintains the juxtaposition, intrigue, and bundled value statement of its former, longer self.  This is a lesson that will be repeated in each chapter: although each element of a brand must be woven together. <blockquote>When done well, individual elements can be separated, extracted, and shortened, and simplified- yet the full value of the brand will not be lost.</blockquote> <p>In fact, because the brand has been so deeply imbued in each element, reducing the individual aspects to more basic names or symbols increases the power of the brand.  
<br><br>
To state it again: the brand elements must be built together- but when they are built well, they can be separated out and will retain the full brand and act as concentrated pockets which can be unpacked to reveal everything else about the brand. Each element is an emissary and ambassador for the other elements in your brand. It is like the founding team of a company or a sports team. A strong foundation will allow the individual players to move on to act alone and be recognized as individuals, but the place they came from is never forgotten.
</p>
</div>
<div class="center">
<a align="center" href="#ex3" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>