<div id="chapter1" class="chapter">
<h5 align="center">Chapter 1.</h5><h1 align="center">VALUES</h1><br><br>
<p>
<span class="callout">Everything starts with values. </span>
<br><br>
<i>The question is:</i> Why are you doing what you are doing. <br><br>
<i>The answer is:</i> values. <br><br>The reason you get up early and stay up late. The voice in your head; the pit in your stomach. You are driven to do something because you care immensely about something. It causes stress and even though it may cause you some pain, caring, in itself, is an accomplishment. You are already ahead of most people if you care about something. Keep caring. You imbue your creation with your values.
<br><br>
You may not know what exactly is driving you- or why you do what you do. That’s ok. It got you this far. But now you must articulate your values. If you don’t, they will slip away and though you continue the work, it will become hollow and tedious to you, and you will wonder what you ever saw in it. 
<br><br>
The important thing is to keep going. It will be exhausting. It will hurt. Most people will stop. But you need to keep going. So now, you need to articulate what it is you are racing towards. Knowing your finish line will help you get there. 
<br><br>
Values are what you are working to hold to or build. This is where you should begin- with values.
<br><br>
(But it rarely begins there. Most often it begins with a stroke of inspiration. An idea. You are going about your business when all of a sudden a connection is made and you have an idea for starting something new. Something that connects old frustrations with new solutions...) 
<br><br>
But even if you begin with the big idea, you must work backward to understand WHY this idea matters to you. 
<br><br>
The reason values still matter (even after you’ve come up with the idea, and even after you’ve developed the product) has to do with the mind of the customer. Your product is likely not the only one of its kind. 
<br><br>
This is okay because we buy things for more than the product. We care about the brand too- about the values associated with the product. Your brand is everything beyond the product. 
<br><br>
<span class="callout">This matters because people buy what is not for sale.</span> 
<br><br>
They buy your values- because they share them. Products are a means to expressing a value. This is why you must articulate your values-- it is what you are selling, it is why you exist in the world and why you have any customers at all. 
<br><br>
You must know what you represent— what fantasy you are in the mind of the customer, what emotion you strike in the customer. The answer to that is why you exist. This is your purpose. It comes from what you value most. 
<br><br>
Shopping is the way we, as customers, communicate what kind of person we are. What we wear says what we like; what we like is what we value, what we value is who we are. 
<br><br>
<span class="callout">Shopping is profound.  Every purchase is an amen.</span> 
<br><br>
There are no consumers. The cycle does not end at the point of sale. Your customers do not consume; they disseminate. Your customers are your carrier pigeons, your countrymen. You have shared values, and therefore have a shared mission to spread these values. Your product is the vehicle to spread these values.
<br><br>
Branding is the communication of values- whether through words, images or colors.
<br><br>
Building a brand is the process of articulating your values and giving them form through shape, line, color, and language.  This is what people call the creative process.
<br><br>
There is a misconception that this is mystical or an inborn talent. This misconception exists because most people (even professionals) never articulate their goals or values, and therefore work in the dark, relying on their unconscious to draw connections and find answers. 
<br><br></p>
<blockquote class="blockquote">The truth is creativity is logical.</blockquote> 
<p>
Emotion is logical. If it weren’t, storytellers wouldn’t be able to make you feel anything. But we feel things in stories. We cry together. We laugh together. 
<br><br>
Design works the same way. There is an objective visual language. You must use it properly in order to communicate the right thing. 
<br><br>
There are a few main pieces which make up a brand identity. Each piece should be approached individually but must be cohesive and tell one story, one truth, create its own language and its own world. 
<br><br>
The question we will ask again and again is: "What do you want to make them feel?"  You must know which person and which emotion. Then you ask: What is the best way to make them feel that. 
<br><br>
There is no best-starting place. You may have a name or just a few fragmented ideas- a flash of color, a font that resonates with you. Start there. Start where you are with what you have.
<br><br>
Building your identity is like weaving a web. At the center of the web is your purpose: the emotion you appeal to in the customer, the specific type of imaginary friend you are to your customer. On the edge of this circle, you have the concrete elements of your corporate identity: the name, the logo, the fonts, the voice, the color, the imagery, the packaging, the product etc.
<br><br>
At the center of the web is your value statement; the edges of the web are different, concrete ways of restating this. The sum of all of these things is your brand. So it doesn’t matter where you begin.  As you fill in the blanks, it will get easier. But always work from what you have and refer back to your values. These visual elements of the brand are messengers for your ethos, so the color, shape, name, font, and voice must all be in line with your core. Your value statement is your north star. 
<br><br>
Articulating the values is articulating the WHAT. The rest of this book focuses on the tangible elements of your brand: the HOW. First, we must decide WHAT we are trying to express. Once we do that it will be possible to decide HOW to best express those values. Logos, colors, slogans-- these are all just other ways of expressing your values. So figure out what you want to express first, then you can go about deciding the best way to express it.
</p>
</div>
<div class="center">
<a align="center" href="#ex1" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>