<div id="chapter2" class="chapter">
<h5 align="center">Chapter 2.</h5><h1 align="center">STORIES</h1><br><br>

<span class="callout">
Once you articulate your values, you must communicate these values.<span> <br><br>
<p>
The best way to do this is to tell a story. Sometimes, this is referred to as ‘positioning’ but it is all about telling a story. The way you tell your story is by taking a step back from what we did in chapter one. Take a step back from your values and look at them in a larger context. Examine your values and business in the context of your industry, history, current mood and trends and the customer's life. 
 <br><br>
Your story is: your values in the context of the world today. And when you place your values in the context of larger trends there must not only be tension, there must be conflict. 
 <br><br>
<blockquote class="blockquote">Stories need conflict. </blockquote>
<p>The greater the tension, the starker the conflict, the greater the story. Your story is not a bland novel with weak characters and a meandering plot. Your story is an epic. It is a clash of the titans. If you are not doing something this radical you will not be noticed. If you are not a hero, if you don’t have a villain, you will struggle to be noticed. 
 <br><br>
Stories take three-act structures. 
 <br><br>
Your story goes:  <br>
1. We value these things: ____, _____, and _____. <br>
2. These values conflict with the way business is currently done in our industry.  <br>
3. That’s why we created ____. 
 <br><br>
It starts with values. Values are not easy to hold. It would be easier to go along with the crowd, to take things as they are given, to let them go when they are challenged. But you have values and you hold them stubbornly. Now, they have led you into conflict. Frustration with the way things are done. And rather than bend to the way the world works, you decide to try to change it. 
 <br><br>
This is your story. 
 <br><br>
Your values led you to the problem you are trying to solve. Your values determine the way you solve it. This also determines who your customer is. Problems are personal. Not everyone has the problem you are solving. And even amongst the people who do have your problem, not all of them want it solved the way you solve it. Not everyone has the same values.  <br><br>
You must understand the specific problem for the specific person you are solving-- and that there are other ways this problem could be solved. Seeing your solution in the broader context of possible solutions will help you focus on your solution and your customer. 
 <br><br>
Storytelling is a useful branding exercise because it pushes you to think of your project from an artistic point of view. While it is important to consider competition and formulate a strategy to cut through the noise and convert customers, you should focus at first on telling your story. 
 <br><br>
Many new entrepreneurs worry about coming up with an idea that no one has had before. For one, companies are not based on 'one idea'. Companies are built on hundreds of ideas every day. The unique combination of your ideas and how you execute them is more important than the originality of your business model or subject-matter. Artists don't worry about the fact that someone has painted sunsets before. That is not what matters. Instead, they focus on how they paint the sunset. 
 <br><br>
The same is true for your business. It is how you tell your story. Can you tell it in a way that resonates with today’s audience better than anyone else?  
 <br><br>
Communicate why this and why now. Draw on the history of your trade and place your work as a distinct turning point. 
 <br><br>
You will tell this story again and again- in your company biography, but also in each social media post and in each product. 
 <br><br>
Your product story must follow the same three-act structure: <br>
1. Start with your values.<br>
2. Present your product.<br>
3. Show that your product is a means to capture those values.
 <br><br>
In your product story, the narrative is that you have values. You imbued these values into this product. Now, this product is a means to capturing these values.  
 <br><br>
This is how you tell your story again and again.
Every chance you get:
 <br><br>
Values.<br>
Tension.<br>
Resolution.
 <br><br>
You (your product, your company) must be a symbol of your values. This is what great stories achieve. 
 <br><br>
Great stories unify your abstract values and your physical creations to make them one and the same. 
<span>
</div>
<div class="center">
<a align="center" href="#ex2" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>