<div class="jumbotron center">
	<h1 align="center">The Anatomy of a Brand</h1>
	<a align="center" href="#introduction" class="btn btn-primary btn-lg scrollnext">Click to begin</a>
</div>
<div id="introduction" class="chapter">
	<p align="left">
	<span class="callout">This is a workbook meant to help you build a brand.</span><br><br> On the following pages, you will be guided through the main elements. Each chapter will focus on one of these elements. The beginning part of the chapter will explain a little bit of the thinking and theory of what makes each specific aspect strong. At the end of the chapter, there will be a few exercises for you to apply the lesson to your life and business.
<br><br>
	Write. Delete. Write again. This is your workbook. It is meant to prompt, prod, poke, and push you to think of your work in different ways. 
<br><br>
	Brands are made up of many parts. The anatomy of a brand is really about understanding the significance of seemingly superficial details. 
<br><br>
	The Anatomy of a Brand breaks a brand into individual elements. When you put it back together meaning should be built into the core. Laying this out now will ensure that as your project grows, you never lose the spark and excitement that set it all in motion. 
<br><br>
	This is your workbook now - it is not the anatomy of any brand - it is the anatomy of your brand, so start filling in the blanks.
	</p>
</div>