<nav class="vertical-nav">
	<ul>
		<li><a href="#top" class="active"><span class="label">Top</span></a></li>
		<li><a href="#introduction" class="active"><span class="label">Intro</span></a></li>
		<li><a href="#chapter1"><span class="label">Ch 1. Values</span></a></li>
		<li><a href="#ex1"><span class="label">Ch 1 - Exercises</span></a></li>
		<li><a href="#chapter2"><span class="label">Ch 2. Stories</span></a></li>
		<li><a href="#ex2"><span class="label">Ch 2 - Exercises</span></a></li>
		<li><a href="#chapter3"><span class="label">Ch 3. Names</span></a></li>
		<li><a href="#ex3"><span class="label">Ch 3 - Exercises</span></a></li>
		<li><a href="#chapter2"><span class="label">Ch 4. Story</span></a></li>
		<li><a href="#ex2"><span class="label">Ch 4 - Exercises</span></a></li>
		<li><a href="#chapter1"><span class="label">Ch 5. Values</span></a></li>
		<li><a href="#ex1"><span class="label">Ch 5 - Exercises</span></a></li>
		<li><a href="#chapter2"><span class="label">Ch 6. Story</span></a></li>
		<li><a href="#ex2"><span class="label">Ch 6 - Exercises</span></a></li>
		<li><a href="#save"><span class="label">Save Your Work</span></a></li>
		<!-- additional navigation items here -->
	</ul>
</nav><!-- .cd-vertical-nav -->
 