<nav class="vertical-nav">
	<ul>
		<li><a href="#top" class="active"><span class="label">Top</span></a></li>
		<li><a href="#chapter1"><span class="label">Values</span></a></li>
		<li><a href="#chapter2"><span class="label">Stories</span></a></li>
		<li><a href="#chapter3"><span class="label">Names</span></a></li>
		<li><a href="#chapter4"><span class="label">Visuals</span></a></li>
		<li><a href="#chapter5"><span class="label">Content</span></a></li>
		<li><a href="#chapter6"><span class="label">Digital</span></a></li>
		<li><a href="#chapter7"><span class="label">Packaging</span></a></li>
		<!-- additional navigation items here -->
	</ul>
</nav><!-- .cd-vertical-nav -->
 