<nav class="vertical-nav">
	<ul>
		<li><a href="#top" class="active"><span class="label">Top</span></a></li>
		<li><a href="#introduction" class="active"><span class="label">Introduction</span></a></li>
		<li><a href="#chapter1"><span class="label">Ch 1. Values</span></a></li>
		<li><a href="#ex1"><span class="label">Ch 1 - Exercises</span></a></li>
		<li><a href="#chapter2"><span class="label">Ch 2. Stories</span></a></li>
		<li><a href="#ex2"><span class="label">Ch 2 - Exercises</span></a></li>
		<li><a href="#chapter3"><span class="label">Ch 3. Names</span></a></li>
		<li><a href="#ex3"><span class="label">Ch 3 - Exercises</span></a></li>
		<li><a href="#chapter4"><span class="label">Ch 4. Visuals</span></a></li>
		<li><a href="#ex4"><span class="label">Ch 4 - Exercises</span></a></li>
		<li><a href="#chapter5"><span class="label">Ch 5. Content</span></a></li>
		<li><a href="#ex5"><span class="label">Ch 5 - Exercises</span></a></li>
		<li><a href="#chapter6"><span class="label">Ch 6. Digital</span></a></li>
		<li><a href="#ex6"><span class="label">Ch 6 - Exercises</span></a></li>
		<li><a href="#chapter7"><span class="label">Ch 7. Packaging</span></a></li>
		<li><a href="#ex7"><span class="label">Ch 7 - Exercises</span></a></li>
		<li><a href="#conclusion"><span class="label">Conclusion</span></a></li>
		<!-- additional navigation items here -->
	</ul>
</nav><!-- .cd-vertical-nav -->
 