<div class="chapter center">
	<h1>Join the waiting list</h3>
	<!-- <a href="#" class="btn btn-primary btn-lg scrollnext disabled">Buy the book</a> -->
	
	<a href="https://goo.gl/forms/QEDNTxwykft4yFuu1" target="_blank" class="btn btn-primary btn-lg scrollnext ">Subscribe</a>
</div>