<div class="jumbotron center">
	<div class="chapter">
     <h1 align="center">The Anatomy of a Brand</h1>
       <p>
       	The Anatomy of a Brand is a free online resource created to help startups, designers, and entrepreneurs build thoughtful brands. After years of consulting and starting companies, we decided to open source what we've learned about branding. We hope it helps.
       	<div class="scrollnext">
         <%= link_to "Build Your Brand", new_brand_registration_path, class: "btn btn-primary btn-default btn-lg" %>
         
       </p>
   </div>
   </div>
</div>
