<div class="jumbotron center">
     <h1 align="center">The Anatomy of a brand</h1>
       <p>
         <%= link_to "build your brand", new_brand_registration_path, class: "btn btn-default btn-lg" %>
         <%= link_to "View Others", brands_path, class: "btn btn-primary btn-lg" %>
       </p>
</div>
