@import 'bootstrap';
/* You could change the font */
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

* {
	outline:none;
}
textarea {
	width: 100%;
	border-top: none;
    border-left: none;
    border-right: none;
	height: auto;
	border-bottom: 2px solid lightgray;
}
small { font-weight: 300;}
p, label {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1px;
}
label small {
	font-size: 70%;
}
h1 {
	font-weight:300;
}
.label {
	color:black;
}
.container {
	padding:60px;
}
.question { 
	font-style: italic;
	font-weight:300;
	padding-top: 15px;
}
.answer {
	font-size:28px;
	padding-bottom: 20px;
	font-style: italic;
    font-weight: 300;
}

.pre-footer {
	padding: 90px;
	background-color:lightgray;
}

.chapter {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 260px; 
	padding-right: 260px;
}
.title {
	padding-top:30px;
}
.exercises {

}
.yourtitle input {
	text-align:center;
}

.center {
	text-align:center;
}

.callout {
	font-size: 25px;
	font-weight:400;
}

input {
	border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    padding-left:5px;
}
input:focus {
	border-top: none;
	border-left: none;
    border-right: none;
	border-bottom: 2px solid black;
	outline:none;
}

::placeholder {
	color:lightgray;
	text-align: center;
	font-size: 15px;
	}
.btn {
	border-radius: 0px;
}
.btn-primary {
	background-color:black;
	border-color: black;
}
.btn-primary:hover {
	background-color:#5a5a5a;
}
.btn:active {
	background: black;
	background-color: black;
}
.btn:focus {
	background: black;
	background-color: black;
}

.navbar-inner {
	border-bottom: 1px solid lightgray;
}
.nav {
	display: -webkit-inline-box;
}
.navbar-inner a {
	padding: 10px;
	color:black;
}
.nav .pull-right {
	float: right;
}

.introduction-title {
	padding-top: 50px;
	padding-bottom: 50px;
}

.scrollnext {
	margin: 40px;
}
.vertical-nav {
	position:fixed;
	float: right;
	right: 4%;
}

.save-container {
	padding: 20px;
	position: fixed;
	bottom: 0%;
	background-color:white;
	border-top: 1px solid lightgray;
	
	width: 100%;
}
.save-container .field {
	padding: 10px;
	display: inline-flex;
}
.field {
	padding-top: 25px;
	padding-bottom:30px;
}

.pw {
	background-color: lightgray;
}
div.venn {
    width: 38em;
    margin: 2em auto;
    position: relative;
    height: 20em;
}

div.venn .circle {
    border: .2em solid #333;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    text-align: center;
    position: absolute;
}

div.venn .circle p {
    height: 16em;
    width: 20em;
    display: table-cell;
    vertical-align: middle;
}

div.venn .circle:nth-child(1) {
    top: 0;
    left: 0;
    background-color: rgba(193, 193, 193, 0.1);
}
div.venn .circle:nth-child(2) {
    top: 0;
    left: 16em;
    background-color: rgba(235, 235, 235, 0.25);
}
div.venn .circle:nth-child(2) p {
    position: relative;
}
div.venn .joined {
    position: absolute;
    top: 2em;
    left: 16em;
    width: 8em;
}
div.venn .joined p {
    height: 13.3em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 3em;
}
@media (max-width: 600px) {
    div.venn {
        width: 80vw;
        height: 40vh;
    }
    div.venn .circle {
        width: 50vw;
        height: 35vh;
    }
    div.venn .circle p {
        height: 35vh;
        width: 25vw;
    }
    div.venn .circle:nth-child(2) {
        top: 0;
        left: 30vw;
    }
    div.venn .circle:nth-child(2) p {
        right: -25vw;
    }
    div.venn .joined {
        position: absolute;
        top: 0;
        left: 30vw;
        width: 20vw;
    }
    div.venn .joined p {
        height: 35vh;
    }
}
@media (max-width: 400px) {
    div.venn {
        display: none;
    }
}
footer small {
	font-size: 55%;
}