<div class="container">
<h1 align="center">Anatomy of all brands</h1>
<%= render @brands %>
</div>

	<% unless brand_signed_in? %>
		<div class="save-container center">
		<%= link_to "Create the Anatomy of your brand", new_brand_registration_path, class: "btn btn-default btn-lg" %>
		</div>
	<% else %>
	<% end %>