<footer>
	<div class="center">
	<ul>
		<li>About</li>
		<li>Consulting</li>
		<li>Help</li>
		<li>Contact</li>
	</ul>
        <p align="center"><small align="center" >© Grant Wenzlau, <%= Date.today.year %></small></p>
    </div>	
    </footer>